/*
COLOR PALETTE
https://coolors.co/f7fff7-343434-2f3061-ffe66d-a1c6d7
#F7FFF7 - almost white
#343434 - dark gray - almost black
#2F3061 - blue dark
#FFE66D - yellow
#A1C6D7 - blue light
*/
 
 
/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
}
 *, *:before, *:after {
  box-sizing: inherit;
}
body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
img {
  width: 300px;
}
a {
  color: #FFE66D;
}
 a:hover {
  text-decoration: none;
}
 h1 {
  font-size: 100px;
  line-height: 1;
}
 h2 {
  font-size: 45px;
}
 h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  margin: 0;
}
 
 

 
